body{
    margin: 0;
}
div{
    width: 50vW;
    background-color: blueviolet;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border:solid red 10px;
    font-size: 32px;
 box-sizing: content-box;
}
P{
     font-size: 2vw;
}