p
{
    color: red;
    font-size: 24px;
    font-weight: 600;
    /* text-decoration:underline wavy; text-decoration-thickness: 10px;    */
    font-family: cursive;
    text-align: center;



}
a{
    text-decoration: none;
}
